<div >
    <h3>update user password:</h3>
    <hr>
 <form [formGroup]="updateUserPasswordForm" (ngSubmit)="handleupdateUserPassword()" >
   @if (errorResponseMessage!=="")
    {<p class="alert alert-danger text-center">{{errorResponseMessage}}</p>}
      <label class="mt-4" for="currentPassword">your current password </label>
    <input formControlName="currentPassword" class="form-control" type="password" id="currentPassword">
@if (updateUserPasswordForm.get('password')?.touched) {
   <div>
      @if (updateUserPasswordForm.get('password')?.getError('required')) {
         <p class="text-danger text-small">current password is required</p>
      }@else if (updateUserPasswordForm.get('password')?.getError('pattern')) {
         <p class="text-danger text-small">password must contain at least one uppercase letter, one lowercase letter, one number, and one special character</p>
      }
   </div>
}



    <label class="mt-4" for="password">enter new password</label>
    <input formControlName="password" class="form-control" type="password" id="password">
@if (updateUserPasswordForm.get('password')?.touched) {
   <div>
      @if (updateUserPasswordForm.get('password')?.getError('required')) {
         <p class="text-danger text-small">password is required</p>
      }@else if (updateUserPasswordForm.get('password')?.getError('pattern')) {
         <p class="text-danger text-small">password must contain at least one uppercase letter, one lowercase letter, one number, and one special character</p>
      }
   </div>
}

    <label class="mt-4" for="rePassword">confirm new password</label>
    <input formControlName="rePassword" class="form-control" type="password" id="rePassword">

    @if (updateUserPasswordForm.get('rePassword')?.dirty&&updateUserPasswordForm.get('password')?.dirty) {

   <div>
      @if (updateUserPasswordForm.getError('passwordMisMatch')) {
         <p class="text-danger text-small">Passwords don't match </p>
      }
     
     
      
   </div>
}


   

    
    <button [disabled]="updateUserPasswordForm.invalid ||isLoading" class=" border-2 bg-main btn text-light mt-2 rounded-pill">
      @if (isLoading===false) {
         <span>update user password</span>
      }
      @else if (isLoading===true) {<span  class="fa-solid fa-spinner fa-spin"></span>}
      
      
    </button>
 </form>
</div>




