



    <div class="container bg-main-light p-3 rounded shadow">
  <h4 class="my-3 fw-bold border-bottom py-2 mb-3">My Wishlist</h4>
 
  @for (product of allWishListProducts;track product._id) {
  <div class="row border-bottom py-3">
    <div class="col-md-1">
      <div>
        <img class="w-100 img-thumbnail border rounded" [src]="product.imageCover" alt="" />
      </div>
    </div>
    <div class="col-md-11">
        <div class="d-flex justify-content-between">
            <div>
                <p class="my-0 fw-bold">{{product.title|sliceTitle:5}}</p>
                <p class="my-0 fs-small text-secondary">{{product.description|sliceTitle:7}}</p>
                <p class="text-main fw-medium my-2 font-sm">{{product.price|addEGP}}</p>
                <button (click)="removeFromWishlist(product._id)" class="delete bg btn m-0 border rounded border-danger">
                    <i class="fa-solid fa-trash-can text-danger ms-2"></i>
                    <span class="ms-2 text-danger">Remove</span>
                </button>

            </div>
            <div>
                <button (click)="addToCart(product._id)" class="btn bg-main text-white"> Add To cart 
                    <i class="fas fa-shopping-cart ms-2"></i>
                </button>
            </div>
        

        </div>
    </div>
  </div>
  }


</div>

