<div >
     <h3>edit user info:</h3>
    <hr>
 <form [formGroup]="editUserInfoForm" (ngSubmit)="handleEditUserInfo()">
   @if (errorResponseMessage!=="")
    {<p class="alert alert-danger text-center">{{errorResponseMessage}}</p>}

    <label class="mt-4" for="name">enter your name</label>
    <input formControlName="name" class="form-control" type="text" id="name">
   @if (editUserInfoForm.get('name')?.touched)
    {
<div>
   @if(editUserInfoForm.get('name')?.getError('required')) {
      <p class="text-danger text-small">name is required</p>
   }
   @else if (editUserInfoForm.get('name')?.getError('maxlength'))
    {<p class="text-danger text-small">name must be max 20 characters</p>}
   @else if(editUserInfoForm.get('name')?.getError('minlength')) {
      <p class="text-danger text-small">name must be at least 7 characters</p>
   }
</div>
   }

    <label class="mt-4" for="email">enter your Email</label>
    <input formControlName="email" class="form-control" type="email" id="email">
@if (editUserInfoForm.get('email')?.touched) {
   <div>
   @if(editUserInfoForm.get('email')?.getError('required')) {
      <p class="text-danger text-small">email is required</p>
   }@else if (editUserInfoForm.get('email')?.getError('email')) {
      <p class="text-danger text-small">email is not valid</p>
   }
   </div>
}





  


    <label class="mt-4" for="phone">enter your phone</label>
    <input formControlName="phone" class="form-control" type="tel" id="phone">
       @if (editUserInfoForm.get('phone')?.touched) {
   <div>
      @if (editUserInfoForm.get('phone')?.getError('required')) {
         <p class="text-danger text-small">phone is required</p>
      }@else if (editUserInfoForm.get('phone')?.getError('pattern')) {
         <p class="text-danger text-small">enter a valid phone number</p>
      }
   </div>
   }

    
    <button [disabled]="editUserInfoForm.invalid ||isLoading" class=" border-2 bg-main btn text-light mt-2 rounded-pill ">
      @if (isLoading===false) {
         <span>edit user info</span>
      }
      @else if (isLoading===true) {<span  class="fa-solid fa-spinner fa-spin"></span>}
      
      
    </button>
 </form>
</div>




