 
    <div class="product p-3">
        <i (click)="addToWishList(product._id)" [class]="isWishListProduct(product._id)?'fas text-danger' : 'fa-regular'  " class="cursor-pointer  fa-heart fs-4"></i>
        <a [routerLink]="['/product-details',product._id]">
        <img class="w-100" [src]="product.imageCover" [alt]="product.title">
        <span class="text-main font-sm fw-medium">{{product.category.name}}</span>
        <p class="fw-medium">{{product.title | sliceTitle:2|uppercase}}</p>
       <div class="d-flex justify-content-between">
         <span>{{product.price | addEGP}} </span>
        <div>
            <i class="fa-solid fa-star rating-color"></i>
        <span>{{product.ratingsAverage}}</span>
        </div>
       </div>
        </a>
       <button (click)="addToCart(product._id)" class="btn bg-main text-white w-100 mt-3">Add to cart</button>
      
    </div>

