<div class="w-75 mx-auto">
     <h2 class="fw-bolder">Reset your password:</h2>
 <form [formGroup]="resetPasswordForm" (ngSubmit)="handelResetPassword()"  class="p-5">
   @if (errorResponseMessage!=="")
    {<p class="alert alert-danger text-center">{{errorResponseMessage}}</p>}



    <label class="mt-4" for="email">enter your Email</label>
    <input formControlName="email" class="form-control" type="email" id="email">
@if (resetPasswordForm.get('email')?.touched) {
   <div>
   @if(resetPasswordForm.get('email')?.getError('required')) {
      <p class="text-danger text-small">email is required</p>
   }@else if (resetPasswordForm.get('email')?.getError('email')) {
      <p class="text-danger text-small">email is not valid</p>
   }
   </div>
}



    <label class="mt-4" for="newPassword">enter your new password</label>
    <input formControlName="newPassword" class="form-control" type="password" id="newPassword">
@if (resetPasswordForm.get('newPassword')?.touched) {
   <div>
      @if (resetPasswordForm.get('newPassword')?.getError('required')) {
         <p class="text-danger text-small"> new password is required</p>
      }@else if (resetPasswordForm.get('newPassword')?.getError('pattern')) {
         <p class="text-danger text-small">password must contain at least one uppercase letter, one lowercase letter, one number, and one special character</p>
      }
   </div>
}

    
<div class="d-flex justify-content-end align-items-baseline">

 <button [disabled]="resetPasswordForm.invalid ||isLoading" class=" border-2 bg-main btn text-light mt-2">
      @if (isLoading===false) {
         <span>Send</span>
      }
      @else if (isLoading===true) {<span  class="fa-solid fa-spinner fa-spin"></span>}
      
      
    </button>

</div>
    
   
 </form>
</div>



